@import 'variables/global';
@import 'reset.scss';
@import 'themes/normal.scss';
@import 'themes/dark.scss';

.app{
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

.app_modal {
    font-family: 'Roboto', sans-serif;
}