.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.romantic {
  display: flex;
  justify-content: center;
}

.romantic_text {
  color: var(--font-color);
  font-weight: bold;
  font-size: 16px;

  background: linear-gradient(to right, #cd2121 20%, rgb(175, 47, 47) 40%, rgb(228, 22, 22) 60%, #a11616 80%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  //   text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
