.cell{ 
    width: 60px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: 0 15px 15px;    
}

.rightPosition{
    background-color: #61c527;
}

.wrongPosition{
    background-color: yellow;
}

.notExist{
    background-color: gray;
}