.Navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid #cac5c5;
}