.app_dark_theme{
    --bg-color: #515050;
    --color-cell: #ffffff;
    --border-cell: 2px solid gray;
    --font-color: #ffffff;
    --title-color: #ffffff;

    --right-position-color: #6aaa64;
    --wrong-position-color: #c9b458;;
    --notExist-color: #86888a;
}