.app_light_theme{
    --bg-color: #ede9e9;
    --color-cell: #111111;
    --border-cell: 2px solid #a2a4a7;
    --font-color: black;
    --title-color: black;
    
    --right-position-color: #6aaa64;
    --wrong-position-color: #c9b458;;
    --notExist-color: #86888a;
}