.Rules {
    h1 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 32px;
    }

    p {
        margin-bottom: 10px;
        font-size: var(--font-size);
    }
}

.close{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}